VITE_SUPABASE_URL=https://ehwdoiwaacwxbmydxtwl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVod2RvaXdhYWN3eGJteWR4dHdsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5MzA1OTQsImV4cCI6MjA5OTUwNjU5NH0.HSpimTnDLDtY_ovBmOLX3FShGR68ScVWxRnuo-wzWUQ
VITE_API_URL=http://localhost:5000/api